{% extends 'base.html' %}

{% block title%} {{ article.title }} {% endblock %}
{% block content %}
    
    <div class="one_article">
        <h3>{{ article.title }}</h3>
        <p id="article_text">{{ article.text }}</p>
        <p id="article_create">Создана - {{ article.created }}</p>
        {% if article.created < article.modified %} 
            <p id="article_create">Редактирована - {{ article.modified }}</p>
        {% endif %}
        <a href="{% url 'update' article.id %}" class="modified">Редактировать</a>
        <a href="{% url 'delete' article.id %}" class="delete">Удалить</a>          
    </div>
{% endblock %}